body{
    background-image: url('./images/giphy\ \(1\).gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Flavors', cursive;
    font-size: 30px;
    color: black;
    text-align:center;
}
.masthead{
    position: relative;
    color:deeppink;
    font-size: 30px;
    display: flex;
    justify-content:center;
    height: 400px;
    background-image: url('https://picsum.photos/200/300/?blur');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    
}
nav{
    display: flex;
    justify-content: space-evenly;
    color: floralwhite;
}
a{
    color: rgb(212, 201, 201);
}