<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #000;">
    <a class="navbar-brand" href="/" style="font-size: 30px;">BLOG POSTS</a>
    <a class="nav-link" href="/post/new">Create Post</a>
    <br>
    <form class="form-inline my-2 my-lg-0" method="POST">
        <input class="form-control mr-sm-2" type="email" placeholder="Email" name="subscriber" required>
        <button class="btn btn-outline-info btn-sm" type="submit" style="padding: 8px;">Subscribe</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <li style="color:white;padding:15px;">{{current_user.username}}</li>
        <li><a href="{{url_for('auth.login')}}">Sign In</a></li>
        <li><a href="{{url_for('auth.logout')}}">Sign Out</a></li>
    </ul>

   
   
</nav>
